@font-face {
    font-family: 'CookieRun';
    src: url('https://cjhay01.github.io/fonts/CookieRun_Bold.ttf');
}

* {
    font-family: 'CookieRun';
    touch-action: manipulation;
}
div {
    margin-left: 0px;
    text-align: center;
    padding-bottom: 30px;
}
#counter {
    font-family: 'CookieRun';
    font-size: xx-large
}